[common]
debug = true

[auth]
# to generate a secret key run:
# openssl rand -hex 32
secret_key = "<secret_key>"

[database]
host = "webchat_db_dev"
port = 5432
user = "<user>"
password = "<password>"
name = "<name>"

[redis]
url = "redis://redis:6379"
