[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "==0.10.2"
fastapi = "==0.110.0"
sqlalchemy = "==2.0.28"
alembic = "==1.13.1"
asyncpg = "==0.29.0"
hypercorn = "==0.16.0"
redis = {extras = ["hiredis"], version = "==5.0.3"}
asyncio-redis = "==0.16.0"
python-multipart = "==0.0.9"
passlib = {extras = ["bcrypt"], version = "==1.7.4"}

[dev-packages]
ruff = "==0.3.3"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
